/*
    UpennLPS HW2 responsive css document
    Author: Kevin Wang
    Date Due: 2019/02/02
    attempted several animations
*/


header{
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style:solid;
    font-family: 'Georgia', Times, Times New Roman, serif;  
    height:140px;
    width: 100%; 
    margin:0;
    position: fixed;
    top:0%;
    left: 0%;
    z-index: 2;
}

.active{
    font-weight: bold;
}

.topBar{
    margin:auto;
    position: relative;
    width:100%;
    max-width: 960px;
    height:140px;
}

.nameBox{
    color: #ffffff;
    background-color: #4aaaa5;
    padding:10px 20px 0px 20px;
    
    position: absolute;
    bottom:0%;
    left:0%;
    animation: nameAnimation 8s infinite;

}

@keyframes nameAnimation{
    0%{background-color: #4aaaa5;}
    25%{background-color: #666666;}
    50%{background-color:darkgoldenrod;}
    75%{background-color:darkred;}
    100%{background-color:#4aaaa5;}
}

.navHeader{
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    margin:auto;
    padding-top:10px;
    height:100%;
    position: relative;
    top:-10px;
    width:960px;
  
}

.tabs{
    position: absolute;
    bottom: 30%;
    right:0px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}

#noUL{
    text-decoration: none;
    color:darkgray;
}

.leftCell{
    padding:10px
}

.centerCell{
    border-color: rgb(230, 230, 230);
    border-width: 0 1px 0 1px;
    border-style: solid;
    padding:10px
}

.rightCell{
    padding:10px;
}

@keyframes tabAnimation{
    0% {background-color:lightgray;}
    25% {background-color:lightblue;}
    50% {background-color:lightgreen;}
    75% {background-color:lightpink;}
    100%{background-color: lightgray;}
}

.leftCell:hover{
    animation: tabAnimation 2s infinite;
}
.rightCell:hover{
    animation: tabAnimation 2s infinite; 
}
.centerCell:hover{
    animation: tabAnimation 2s infinite;
}

@keyframes fadein{
    from{opacity:0;}
    to{opacity: 1;}
}

body{
    background-image: url(../images/backgroundImage.png); 
    padding:0;
    margin:0;
    margin-bottom: 130px; 
    

}


/* fade in slightly exaggerated */
.mainContentBox{
    animation: fadein 4s;
    width:960px;
    margin:auto;
    margin-top: 170px;
    height:auto;
    background-color: #ffffff;
    border-style:solid;
    border-color: #dddddd;
}

.mainContent{
    padding: 10px 30px 30px 30px;
    text-align: justify;
    line-height:2;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.pageTitle{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#indexPic{
    height:270px;
    width:200px;
    float:left;
    margin: 20px 30px 0px 0px;
}

.inputBox1{
width:100%;
}

.inputBox2{
width:100%;
height:400px;
}

#submitbutton{
    margin-top: 30px;
}



.imgcontainer{
    height: 288px;
    width: 384px;
    margin: 30px;
    position: relative;
    display: inline-block;
}


.portfolioImages{
    height:100%;
    width:100%;

}


.portfolioTitle{
    color:#ffffff;
    background-color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width:100%;
    padding: 30px 0 30px 0;
    position: absolute;
    bottom: 20px;
    z-index:1;
    text-align: center;
}

.footer{
    background-color:#666666;
    border-top-style: solid;
    border-top-color:#4aaaa5;
    border-top-width:8px;
    width:100%;
    position:fixed;
    left:0%;
    bottom:0%;
    height:50px;
    z-index:2;
}



/*980px for lg*/
@media screen and (max-width:980px){
    .mainContentBox{
        max-width:720px;
        width:100%;  
        margin-top:160px; 
        margin-left:20px;
    }

    .topBar{
        width:100%;
        max-width:960px;
        margin-left:20px;
    }

    .nameBox{
        max-width:450px;
        margin:0;
    }
    .tabs{
        position: absolute;
        right:30px;
        bottom:30%;
    }
    
    .imgcontainer{
        height: auto;
        width: auto;
        max-width: 254px;
        margin: 10px;
        position: relative;
        display: inline-block;
    }
    .portfolioTitle{
        color:#ffffff;
        background-color:#4aaaa5;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width:100%;
        padding: 10px 0 10px 0;
        position: absolute;
        bottom: 20px;
        z-index:1;
        text-align: center;
    }


}

@media screen and (max-width:768px){
    .mainContentBox{
        max-width:720px;
        width:100%;  
        margin-top:160px; 
    }

    .topBar{
        width:100%;
        max-width:720px;
    }

    .nameBox{
        max-width:300px;

    }
    .tabs{
        position: absolute;
        right:20px;
        bottom:30%;
    }
    
    .imgcontainer{
        height: auto;
        width: auto;
        max-width: 254px;
        margin: 10px;
        position: relative;
        display: inline-block;
    }
    .portfolioTitle{
        color:#ffffff;
        background-color:#4aaaa5;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width:100%;
        padding: 10px 0 10px 0;
        position: absolute;
        bottom: 20px;
        z-index:1;
        text-align: center;
    }


    

}

@media screen and (max-width:640px){


    .nameBox{
        max-width: 100%;
        width:100%;
        position:static;
        text-align:center;
        padding:10px 0 5px 0;
    }
    .tabs{
        width:100%;
        position:static;
        text-align:center;
        table-layout:fixed;
    }
    .topBar{
        position:static;
        width:100%;
        margin:auto;
    }
    .leftCell{
        padding-right: 10px;
        width:33.3%;
    }
    
    .centerCell{
        border-color: rgb(230, 230, 230);
        border-width: 0 1px 0 1px;
        border-style: solid;
        padding: 0 10px 0 10px;
        width:33.3%;
    }
    
    .rightCell{
        padding-left:10px;
        width:33.3%;
    }

    .tab-sm{
        table-layout:fixed;
         width:100%;
    }
    
    .mainContentBox{
        width:100%;
        margin-top:30px;
    }

    .footer{
        height:0;
        border:0;
    }

    #indexPic{
        height:auto;
        width:100%;
        max-width:400px;
        margin: auto;
        float:none;
    }

    .imgcontainer{
        height: auto;
        width: auto;
        max-width: 384px;
        margin: 30px;
        position: relative;
        display: inline-block;
    }
    
    
    .portfolioTitle{
        color:#ffffff;
        background-color:#4aaaa5;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width:100%;
        padding: 30px 0 30px 0;
        position: absolute;
        bottom: 20px;
        z-index:1;
        text-align: center;
    }
    
}